<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.james.sample.mybatis.xml.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.james.sample.mybatis.xml.entity.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <insert id="insert" parameterType="com.james.sample.mybatis.xml.entity.User">
        INSERT INTO user(username, password, email, avatar, sex, activated, create_time, update_time)
        VALUES(#{username}, #{password}, #{email}, #{avatar}, #{sex}, #{activated}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.james.sample.mybatis.xml.entity.User">
        UPDATE user SET username = #{username},password = #{password},email= #{email},avatar= #{avatar},
            sex= #{sex},activated= #{activated},create_time= #{create_time},update_time= #{update_time}
        WHERE user_id = #{user_id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE from user WHERE user_id = #{userId}
    </delete>

    <select id="getUserByUsername" resultMap="UserResultMap" parameterType="string">
        SELECT * FROM user where username = #{username}
    </select>

    <select id="getUserByUserId" resultMap="UserResultMap" parameterType="int">
        SELECT * FROM user where user_id = #{userId}
    </select>

    <select id="getAllUser" resultMap="UserResultMap">
        SELECT * FROM user
    </select>
</mapper>